.promoted-products {
  font-weight: 500;
}
html {
  font-family: 'Lato';
}

#root {
  width: 800px;
  margin: 200px auto 0 auto;
  text-align: left;
}

ul {
  list-style-type: none;

}
h3 {
  color: crimson;
  display: inline-block;
}
h3:before {
  content: "    - "
}
ul li span {
  position: relative;
  display: inline-block;
}
